
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    <span style="color:white;">Dashboard</span>    
}

<div class="cke_dark_background">
    <div style="text-align:center; font-size:30px; color:white; ">Chào mừng tới trang quản lý</div>
    <dib style="display: block; align-items:center; align-content:center; text-align:center; margin-top:20px;">
        <img  src="~/assets/client/images/rhobh-cat.gif" />
    </dib>
</div>