
@{
    ViewBag.Title = "ErrorPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .mess_alert {
        background-color: #ff3939;
        padding: 20px;
    }

        .mess_alert span {
            font-family: Arial;
            font-size: 30px;
            color: white;
        }
</style>
<div class="mess_alert">
    <span>Mua hàng không thành công!</span>
</div>