
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section header{
    <span style="color:black;">S</span>
}*@

<style>

    .mess_alert {
        background-color: #4cff00;
        padding: 20px;
        border-radius:7px;
        margin-top:20px;
    }
.mess_alert span
{
    
    font-family: Arial;
    font-size:30px;
    color:white;
}
</style>
<div class="mess_alert">
    <span>Đơn hàng của bạn đã được gửi đi thành công.</span>
</div>

